{{!-- Citation for the following:
Date: 05/06/2025
Based on:
Source: Exploration - Web Application Technology
Authors: Professor Michael Curry
Section: Web App Design UI
Subsection: Building our webpage with Handlebars Templating Engine --}}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>Developer information and Project overview here.</p>
</div>