{{!-- Citation for the following:
Date: 05/06/2025
Based on:
Source: Exploration - Web Application Technology
Authors: Professor Michael Curry
Section: Web App Design UI
Subsection: Building our webpage with Handlebars Templating Engine --}}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        Navigation:
        <a href="/">Home</a>
        <a href="/Students">Students</a>
        <a href="/Instructors">Instructors</a>
        <a href="/Courses">Courses</a>
        <a href="/Grades">Grades</a>
        <a href="/Students_Courses">Students_Courses</a>
        <a href="/reset">Reset</a>
    </nav>

    {{{body}}}

</body>

</html>
