{{!-- Citation for the following:
Date: 05/06/2025
Based on:
Source: Exploration - Web Application Technology
Authors: Professor Michael Curry
Section: Web App Design UI
Subsection: Building our webpage with Handlebars Templating Engine --}}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>Welcome to Thomas and Kyohei's web application! This project demonstrates a database-driven management
        system that helps Oregon State University stay organized by tracking the Grades of Students for Courses as well
        as the Instructors
    </p>
</div>